@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Roboto:ital,wght@0,400;0,500;0,700;1,300&display=swap');

// fonts used
$logo-font: "Luckiest Guy", sans-serif;
$font-body: "Roboto", sans-serif;
$bold-font: 600;
$light-font: 300;
$bolder-font: 750;

// colour palette
$color-primary: #0f3152;
$color-secondary: #1f82e6;
$color-offwhite: #fcfdf2;
$color-white: #fdfdfd;
$color-footer: #ebda44;
//universal
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-body;
    color: $color-primary;
    background-color: $color-offwhite;
}
//nav bar
link {
    text-decoration: none;
}
nav {
    height: 20vh;
    width: 100%;
    background-color: $color-offwhite;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
    .logo {
        font-family: $logo-font;
        font-weight: 500;
        font-size: 10vmax;
        color: $color-primary;
        flex: auto;
        text-align: left;
        margin-left: 5%;
    }
    .nav-button {
        font-weight: $bold-font;
        font-size: large;
        border: 0.15rem solid $color-primary;
        padding: 2vmax 5vmax 2vmax 5vmax;
        border-radius: 0.5rem;
        flex: initial;
        text-align: center;
    }
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 5% 0 5%;
}
h1 {
    text-align: center;
    color: $color-secondary;
    font-weight: $bolder-font;
    padding: 5% 0 10% 0;
}
.call-to-action {
    text-align: center;
    
    h2 {
        font-size: 2rem;
        margin: 10% 3% 10% 3%;
    }
    h3 {
            font-size: 1.5rem;
            color: $color-secondary; 
            margin: 10% 3% 10% 3%;
    }
    p {
        margin: 10% 3% 10% 3%;
    }
    a {
        width: 50%;
        display: inline-block;
        font-weight: $bolder-font;
        text-decoration: none;
    }
    
}

.body-button {
    color: $color-white;
    background-color: $color-primary;
    padding: 3% 2% 3% 2%;
    border-radius: 0.6rem;
    border: 5px solid $color-primary;
    display: block;
    text-align: center;
    width: 60%;
}

.KSP-penguins {
    display:inline-block;
    flex: auto;
}

.KSP-divs {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

h4 {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 5%;
}

.key-selling-points {
    display: flex;
    flex-direction: column;
    padding: 5% 2% 5% 2%;
    align-items: center;
    p {
        font-size: 1.2rem;
    }
}

.bold-body-text {
    font-weight: $bold-font;
}
.bolder-body-text {
    font-weight:$bolder-font;
}
.light-weight-body-text {
    font-weight: $light-font;
}
#annoyinglybigpenguin {
    flex:1 1 0.5;
}
#bigpengdiv {
    margin-top: 5%;
}

footer {
    width: 100vw;
    background-color:$color-footer;
    text-align: center;
    a { 
        display: block;
        text-align: center;
        padding: 0.1rem 0 0.1rem 0;
    }
}