@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Roboto:ital,wght@0,400;0,500;0,700;1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #0f3152;
  background-color: #fcfdf2;
}

link {
  text-decoration: none;
}

nav {
  height: 20vh;
  width: 90%;
  background-color: #fcfdf2;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
}
nav .logo {
  font-family: "Luckiest Guy", sans-serif;
  font-weight: 500;
  font-size: 4rem;
  color: #0f3152;
  flex: auto;
  text-align: left;
}
nav .nav-button {
  font-weight: 600;
  font-size: 2rem;
  border: 0.15rem solid #0f3152;
  padding: 2vw 5vw 2vw 5vw;
  border-radius: 0.5rem;
  flex: none;
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 2% 0 2%;
}

h1 {
  text-align: center;
  color: #1f82e6;
  font-weight: 750;
  padding: 5% 0 10% 0;
}

.call-to-action {
  text-align: center;
}
.call-to-action h2 {
  font-size: 2rem;
  margin: 10% 3% 10% 3%;
}
.call-to-action h3 {
  font-size: 1.5rem;
  color: #1f82e6;
  margin: 10% 3% 10% 3%;
}
.call-to-action p {
  margin: 10% 3% 10% 3%;
}
.call-to-action a {
  width: 50%;
  display: inline-block;
  font-weight: 750;
  text-decoration: none;
}

.body-button {
  color: #fdfdfd;
  background-color: #0f3152;
  padding: 3% 2% 3% 2%;
  border-radius: 0.6rem;
  border: 5px solid #0f3152;
  display: block;
  text-align: center;
  width: 60%;
}
.body-button a {
  text-decoration: none;
}

.KSP-penguins {
  display: inline-block;
  flex: auto;
}

.KSP-divs {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 2%;
}

h4 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 5%;
}

.key-selling-points {
  display: flex;
  flex-direction: column;
  padding: 5% 2% 5% 2%;
  align-items: center;
}
.key-selling-points p {
  font-size: 1.2rem;
}
.key-selling-points a {
  text-decoration: none;
  font-weight: 600;
}

.bold-body-text {
  font-weight: 600;
}

.bolder-body-text {
  font-weight: 750;
}

.light-weight-body-text {
  font-weight: 300;
}

#annoyinglybigpenguin {
  flex: 1 1 0.5;
}

#bigpengdiv {
  margin-top: 5%;
}

footer {
  width: 100vw;
  background-color: #ebda44;
  text-align: center;
}
footer a {
  display: block;
  text-align: center;
  padding: 0.1rem 0 0.1rem 0;
  background-color: #ebda44;
  text-decoration: none;
}

@media screen and (min-width: 300px) {
  body {
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  nav {
    justify-content: space-around;
    width: 80%;
  }
  nav .logo {
    width: 70%;
    margin-left: 5%;
  }
  nav .nav-button {
    flex: initial;
  }
  .KSP-divs {
    width: 80%;
    align-items: space-between;
    justify-content: space-between;
    flex-grow: 3 1;
  }
  .KSP-P {
    width: 70%;
  }
  .KSP-penguins {
    flex: none;
  }
  #bigpengdiv {
    margin: auto;
    flex-grow: 2 1;
  }
  #annoyinglybigpeng {
    flex: auto;
  }
}
@media screen and (min-width: 900px) {
  nav {
    justify-content: center;
    width: 70%;
  }
  .device-mockup-img {
    width: 80%;
    height: 50vh;
  }
  .device-mockup-img img {
    width: 100%;
    height: 100%;
  }
  body {
    flex: auto;
  }
  header {
    width: 70%;
  }
  header h1 {
    font-size: 4rem;
    padding: 0 0 2% 0;
  }
}/*# sourceMappingURL=main.css.map */